<div class="panel-body">
 <%= form_for(@airtime, html: {class: 'form-horizontal'}) do |f| %>
  <% if @airtime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@airtime.errors.count, "error") %> prohibited this airtime f$

      <ul>
      <% @airtime.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :phoneNumber, class: 'col-sm-4 control-label' %>
    <div class="col-sm-8">
    <%= f.text_field :phoneNumber, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :amount, class: 'col-sm-4 control-label' %>
    <div class="col-sm-8">
    <%= f.text_field :amount, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :APIUsername, class: 'col-sm-4 control-label' %>
    <div class="col-sm-8">
    <%= f.text_field :username, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :APIKey, class: 'col-sm-4 control-label' %>
    <div class="col-sm-8">
    <%= f.text_area :apikey, class: 'form-control' %>
    </div>
  </div>

  <div class="actions form-group" >
    <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit "Send Airtime" %>
    <%= link_to 'Back', airtimes_path, class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
</div>
