<div class="panel panel-default">
<div class="panel-heading">
<h1>Airtime Sent</h1>
      </div>
<div class="panel-body">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Status</th>
      <th>Amount</th>
      <th>Phonenumber</th>
      <th>Discount</th>
      <th>Requestid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @airtimes.each do |airtime| %>
      <tr>
        <td><%= airtime.status %></td>
        <td><%= airtime.amount %></td>
        <td><%= airtime.phoneNumber %></td>
        <td><%= airtime.discount %></td>
        <td><%= airtime.requestId %></td>
        <td><%= link_to 'Show', airtime %></td>
        <td><%= link_to 'Destroy', airtime, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Airtime', new_airtime_path, class: 'btn btn-success' %>
  </div>
</div>
