<p id="notice"><%= notice %></p>

<p>
  <strong>Isactive:</strong>
  <%= @dtmf2.isActive %>
</p>

<p>
  <strong>Sessionid:</strong>
  <%= @dtmf2.sessionId %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @dtmf2.direction %>
</p>

<p>
  <strong>Callernumber:</strong>
  <%= @dtmf2.callerNumber %>
</p>

<p>
  <strong>Destinationnumber:</strong>
  <%= @dtmf2.destinationNumber %>
</p>

<p>
  <strong>Dtmfdigits:</strong>
  <%= @dtmf2.dtmfDigits %>
</p>

<p>
  <strong>Recordingurl:</strong>
  <%= @dtmf2.recordingUrl %>
</p>

<p>
  <strong>Durationinseconds:</strong>
  <%= @dtmf2.durationInSeconds %>
</p>

<p>
  <strong>Currencycode:</strong>
  <%= @dtmf2.currencyCode %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @dtmf2.amount %>
</p>

<%= link_to 'Edit', edit_dtmf2_path(@dtmf2) %> |
<%= link_to 'Back', dtmf2s_path %>
