<p id="notice"><%= notice %></p>

<h1>Listing Dequeues</h1>

<table>
  <thead>
    <tr>
      <th>Isactive</th>
      <th>Sessionid</th>
      <th>Direction</th>
      <th>Callernumber</th>
      <th>Destinationnumber</th>
      <th>Dtmfdigits</th>
      <th>Recordingurl</th>
      <th>Durationinseconds</th>
      <th>Currencycode</th>
      <th>Amount</th>
      <th>Username</th>
      <th>Apikey</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dequeues.each do |dequeue| %>
      <tr>
        <td><%= dequeue.isActive %></td>
        <td><%= dequeue.sessionId %></td>
        <td><%= dequeue.direction %></td>
        <td><%= dequeue.callerNumber %></td>
        <td><%= dequeue.destinationNumber %></td>
        <td><%= dequeue.dtmfDigits %></td>
        <td><%= dequeue.recordingUrl %></td>
        <td><%= dequeue.durationInSeconds %></td>
        <td><%= dequeue.currencyCode %></td>
        <td><%= dequeue.amount %></td>
        <td><%= dequeue.username %></td>
        <td><%= dequeue.apikey %></td>
        <td><%= link_to 'Show', dequeue %></td>
        <td><%= link_to 'Edit', edit_dequeue_path(dequeue) %></td>
        <td><%= link_to 'Destroy', dequeue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dequeue', new_dequeue_path %>
