<p id="notice"><%= notice %></p>

<h1>Listing Pickcalls</h1>

<table>
  <thead>
    <tr>
      <th>Isactive</th>
      <th>Sessionid</th>
      <th>Direction</th>
      <th>Callernumber</th>
      <th>Destinationnumber</th>
      <th>Dtmfdigits</th>
      <th>Recordingurl</th>
      <th>Durationinseconds</th>
      <th>Currencycode</th>
      <th>Amount</th>
      <th>Username</th>
      <th>Apikey</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pickcalls.each do |pickcall| %>
      <tr>
        <td><%= pickcall.isActive %></td>
        <td><%= pickcall.sessionId %></td>
        <td><%= pickcall.direction %></td>
        <td><%= pickcall.callerNumber %></td>
        <td><%= pickcall.destinationNumber %></td>
        <td><%= pickcall.dtmfDigits %></td>
        <td><%= pickcall.recordingUrl %></td>
        <td><%= pickcall.durationInSeconds %></td>
        <td><%= pickcall.currencyCode %></td>
        <td><%= pickcall.amount %></td>
        <td><%= pickcall.username %></td>
        <td><%= pickcall.apikey %></td>
        <td><%= link_to 'Show', pickcall %></td>
        <td><%= link_to 'Edit', edit_pickcall_path(pickcall) %></td>
        <td><%= link_to 'Destroy', pickcall, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pickcall', new_pickcall_path %>
