<div class="panel-body">
<%= form_for(@call, html: {class: 'form-horizontal'}) do |f| %>
  <% if @call.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@call.errors.count, "error") %> prohibited this call from being saved:</h2>

      <ul>
      <% @call.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :destinationNumber, class: 'col-sm-4 control-label' %>
    <div class="col-sm-8">
    <%= f.text_field :destinationNumber, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :Username, class: 'col-sm-4 control-label' %>
    <div class="col-sm-8">
    <%= f.text_field :username,class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :APIKey, class: 'col-sm-4 control-label' %>
    <div class="col-sm-8">
    <%= f.text_area :apikey,class: 'form-control' %>
    </div>
  </div>

  <div class="actions form-group">
   <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit "Send Call"%>
    <%= link_to 'Back', calls_path, class: 'btn btn-success' %>
   </div>
  </div>
<% end %>
</div>

