
<div class="row">
<div class="col-md-6 pull-left">
<div class="panel panel-default">
      <div class="panel-heading">
        <h3>How to Send KeyWord SMS</h3>
      </div>

 <div class="panel-body">
 <strong> USE OURS:</strong> Send a message to 20414 STARTING WITH THE KEYWORD TEST then leave a space then MESSAGE.<br/>
   <hr/>
   <div>
 <strong>OR GET ONE:</strong>
   <a href="https://account.africastalking.com/sms/keywords">Keyword: </a>Get a keyword<br/>
   <br/>
<a href="https://account.africastalking.com/sms/keywords">Message: </a>Send a Message Starting with the Keyword </br>
<br/>
Receive it on your dashboard and/or callBack Url<br/>
<hr/>
<p> You can get a keyword with us <a href="https://account.africastalking.com/sms/keywords"> HERE!</a></p>
   </div>
 </div>

</div>
</div>

<div class="col-md-6 pull-right">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Keyword Parameters</h3>
      </div>
        <div class="panel-body">
           We send your the following parameters to your callback:<br/>
<br/><strong>from:</strong> The number that sent the message <br/>
<br/><strong>to: </strong>The number to which the message was sent<br/>
<br/><strong>text: </strong>The message content<br/>
<br/><strong>date: </strong>The date and time when the message was received<br/>
<br/><strong>id: </strong>The internal ID that we use to store this message<br/>
<br/><strong>linkId: </strong>for responses to on-demand user requests with a premium message<br/>
        </div>
      </div>
    </div>

</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="panel panel-default">
      <div class="panel-heading">
       <h3>Sent Keyword SMSes</h3>
      </div>
<div class="panel-body">
<table class="table table-hover">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Text</th>
      <th>Date</th>
      <th>Smsid</th>
      <th>Linkid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @keywords.each do |keyword| %>
      <tr>
        <td><%= keyword.from %></td>
        <td><%= keyword.to %></td>
        <td><%= keyword.text %></td>
        <td><%= keyword.date %></td>
        <td><%= keyword.smsId %></td>
        <td><%= keyword.linkId %></td>
        <td><%= link_to 'Show', keyword %></td>
        <td><%= link_to 'Destroy', keyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>
</div>
</div>

