<div class="panel-body">
<%= form_for(@dtmf) do |f| %>
  <% if @dtmf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dtmf.errors.count, "error") %> prohibited this dtmf from being saved:</h2>

      <ul>
      <% @dtmf.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group" >
    <%= f.label :number, class: 'col-sm-4 control-label' %>
    <div class="col-sm-8">
    <%= f.text_field :number, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :APIUsername, class: 'col-sm-4 control-label' %>
    <div class="col-sm-8">
    <%= f.text_field :username, class: 'form-control' %>
    </div>
  </div>
  
  <div class="field form-group">
    <%= f.label :APIKey, class: 'col-sm-4 control-label' %>
    <div class="col-sm-8">
    <%= f.text_area :apikey, class: 'form-control' %>
    </div>
  </div>

  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
     <%= f.submit "Make call" %>
    <%= link_to 'Back', dtmfs_path, class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
</div>
